header {
    display: flex; /* For horizontal alignment */
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Center vertically */
    padding: 10px 20px; /* Spacing */
    background-color: #380038;/* background-color: #380038; Header background color */
    border-bottom: 1px solid #ccc; /* Optional divider */
    color: white
  }

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0px; margin: auto;
}

h1, h2, p{
    text-align: center;
}

#busStation {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}