
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/stylestransport.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Titillium+Web" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="images/android-chrome-512x512.png">
    <title>Transport Routes</title>
</head>
<body>
    <header>
        <div class="logo">
            <img id="logo" src="images/brand.png" width="200" alt="Ramaiah Institute of Technology">
        </div>
        <div class="menu-icon">☰</div>
    </header>

    <a href="/">Back</a>
    <div class="title">
        <h1 id="title">Public Transport Routes</h1>
    </div>

    <h2>Nearest Bus Station</h2>
    <p>The nearest bus station is M S Ramaiah, mattikere, located near gate 11, which can be reached by going through the apex block.<br>
      Check out the link for bus routes and numbers : <a href="https://moovitapp.com/index/en/public_transit-M_S_Ramaiah_College-Bengaluru-stop_43036033-3620">click here</a>
    </p>
    <img src="images/BusStation.jpg" alt="Bus Station" id="busStation">

    <!-- Weather Widget Section -->
    <div class="weather-container">
        <h2>Current Weather</h2>
        <p id="weather-info">Loading weather data...</p>
    </div>

    <hr>
    <h2>Nearest Metro Station</h2>
    <p>
        The route to the nearest metro station consists of going to the nearest bus station and taking any of the following buses: <br>
        401K, 401R, 401BR, 401E, 401T
    </p>

    <script src="../static/transport.js"></script>
</body>
</html>
