body {
    text-align: center;
    /*background-image: url("back2.jpg");*/
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #380038;
    border-bottom: 1px solid #ccc;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

